.VPHome {
  font-family: 'Smiley Sans Oblique';
}

.VPSidebar, .VPContent, .VPFooter {
  font-family: 'LXGW WenKai';
}

@for $i from 1 through 6 {
 h#{$i} {
  margin: calc((28 - $i * 4) * 1px) 0;
 }
}

.VPSidebar {
  @for $i from 1 through 6 {
    h#{$i} {
     margin: 0;
    }
   }
}

.dark {
  .code-preview__icon {
    color: var(--vp-c-text-dark-2);
  }
}